.swiper-container {
  position: relative;

}
.swiper-button-next, .swiper-button-prev{
  display: none;
}

.slide-content {
  /* max-width: 390px; */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.swiper-container h4 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
}
.user-food-detail {
  max-width: 100%; /* 전체 너비로 조정 */
  margin: 0 auto; /* 중앙 정렬 */
  overflow: hidden; /* 넘치는 부분 숨기기 */
  padding-bottom: 50px;
}

.food-slide {
  height: calc(100vh - 50% ); 
  overflow-y: visible; /* 세로 스크롤 활성화 */

}

.slide-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.swiper-slide {
  margin-right: 8px; /* 슬라이드 간의 간격 조정 */
  padding-bottom: 30px;
}

.cat{
  width: 100%;
}
