.meal-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;
  width: 100%;
}

.meal-card-body {
  display: flex;
  padding: 8px;
  padding-top: 0px;
  justify-content: space-between;
  align-items: center;
}

.meal-card-image-container {
  width: 27%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.meal-card-content {
  padding: 0px 5px;
  width: 65%;
}

.meal-card-content h3 {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  width: 83%;
  /* 넘치는 내용 숨기기 */
  text-overflow: ellipsis;
  /* 넘치는 부분을 ...으로 표시 */
  white-space: nowrap;
  /* 텍스트 줄바꿈 방지 */
}

.meal-card-content p {
  margin: 0 0 4px;
  /* 마진을 줄임 */
  color: #666;
  font-size: 14px;
  width: 85%;
  overflow: hidden;
  /* 넘치는 내용 숨기기 */
  text-overflow: ellipsis;
  /* 넘치는 부분을 ...으로 표시 */
  white-space: nowrap;
  /* 텍스트 줄바꿈 방지 */
}

.meal-card-nutrition {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  width: 100%;
}

.nutrition-item {
  text-align: center;
}

.nutrition-label {
  display: block;
  font-size: 10px;
  /* 폰트 크기 줄임 */
  color: #888;
}

.nutrition-value {
  font-size: 12px;
  /* 폰트 크기 줄임 */
  font-weight: bold;
  color: #333;
}

.mealtype {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.title-and-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  margin: 0px 0px 4px;
}

.count {
  text-align: right;
  padding-right: 10px;
}