.notification-container {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    padding: 20px;
}

.notification-link {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    word-break: break-word; /* 긴 단어가 있을 경우 줄 바꿈을 적용 */
}
