.selection-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* 패딩을 줄여 간격 감소 */
    width: 100%;
    /* 컨테이너 너비 조정 */
}

.selection-menu-date {
    color: #666;
    margin-bottom: 10px;
    margin-top: 10px;
}