.price-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px; /* 양옆 여백 */
  margin-right: 20px; /* 양옆 여백 */
}

.admin-price {
  flex: 7;
  font-size: 16px;
  margin-right: 10px; /* 버튼과의 간격 */
  height: 40px; /* 높이 조정 */
  line-height: 40px; /* 수직 정렬 */
}

.admin-btn {
  margin-top: 10px;
  flex: 3;
  font-size: 14px;
  height: auto; /* 높이 조정 */
  line-height: 40px; /* 수직 정렬 */
  padding: 0 20px; /* 버튼의 패딩 조정 */
}

.price-btn{
  display: flex;
  align-items: center;
}

.post-all{
  display: flex;
  justify-content: center;
}
.post-all-btn{
  width: 90%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.admin-logout{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.nutrient-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0; /* Add some margin above and below the nutrient section */
}

.nutrient-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px; /* Smaller font size */
  font-weight: bold;
  padding: 6px;
  border-radius: 50%;
  color: #FFF; /* White text color */
  margin: 5px; /* Space between items */
  width: 60px;
  height: 60px;
}

.nutrient-carbohydrate {
  background-color: #A52A2A; /* Brown color */
}

.nutrient-protein {
  background-color: #D4AF37; /* Golden color */
}

.nutrient-fat {
  background-color: #FF6347; /* Tomato color */
}

.nutrient-sugar {
  background-color: #FFD700; /* Gold color */
}

.nutrient-sodium {
  background-color: #4682B4; /* SteelBlue color */
}

.nutrient-calories {
  background-color: #32CD32; /* LimeGreen color */
}

.DIPcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  box-sizing: border-box;

}

.DIPlistContainer {
  margin-top: 5px;
  height: 84vh;
  width: 90%; /* Adjusted width */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}

.DIPimageContainer {
  width: 100%; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
  margin-top: -10px; /* Move image upwards */

}

.DIPtitleImage {
  width: 50%; /* Adjust the width to make the image smaller */
  max-width: 300px; /* Add a max-width to prevent it from being too large */
  border-radius: 15px;

}

.DIPtitle {
  text-align: center;
  font-size: 20px; /* Adjusted font size */
  margin-top: 5px; /* Reduced top margin */
  margin-bottom: 5px; /* Reduced bottom margin */
}

.DIPsectionTitle{
  margin-top: -20px;
}

.DIPdescription {
  text-align: center;
  font-size: 14px; /* Adjusted font size */
  color: #666;

}

.DIPmenu, .DIPnutrient {
  width: 100%;

}

.DIPnutrient {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nutrientListContainer {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrientList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nutrientItem {
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  flex: 1;
  min-width: 80px;
}

/* 각 영양소의 선 색상 적용 */
.nutrientItem.carbohydrates {
  border: 1px solid #ff7f50; /* 코랄 색상 */
}

.nutrientItem.protein {
  border: 1px solid #4682b4; /* 스틸 블루 색상 */
}

.nutrientItem.fat {
  border: 1px solid #32cd32; /* 라임 그린 색상 */
}

.nutrientItem.sugar {
  border: 1px solid #da70d6; /* 오키드 색상 */
}

.nutrientItem.sodium {
  border: 1px solid #ff4500; /* 오렌지 레드 색상 */
}

.DIPfooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.DIPcalories, .DIPprice {
  font-weight: 600;
  font-size: 14px; /* Adjusted font size */
}

.DIPsectionTitle {
  font-weight: bold;
  font-size: 16px; /* Adjusted font size */
  margin-bottom: 5px; /* Reduced margin */
  display: block;
}

/* 칼로리 강조를 위한 애니메이션 효과 */
.calories-icon-left, .calories-icon-right {
  font-size: 24px; /* 아이콘 크기 */
  animation: bounce 2s infinite; /* 애니메이션 효과 */
  position: relative;
}

.calories-icon-left {
  margin-right: -50px;
}

.calories-icon-right {
  margin-left: -50px;
}

/* 애니메이션 효과 정의 */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.DIPcalories {
  animation: bounce 2s infinite; /* 깜빡이는 애니메이션 적용 */
}

/* 깜빡이는 애니메이션 정의 */
@keyframes blink-red {
  0%, 100% {
      color: black;
  }
  50% {
      color: red;
  }
}

