/* src/SurveyForm.css */
.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.survey-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: white;
}

.survey-left {
  font-size: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.food-image {
  margin-top: 10px;
  width: 100%;
  height: 9vh;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  background-size: cover;
}

.logoImage-survey {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.survey-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.survey-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.survey-label input {
  margin-right: 8px;
}

.survey-submit {
  display: flex;
  justify-content: center;

}